<header class="header">
  <div class="app-title">MessageGroupApp</div>
  <ul class='lists'>
    <% if user_signed_in? %>
      <li ><%= link_to current_user.nickname, "#", class: "user-nickname" %></li> 
      <li ><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
    <% else %>
      <li ><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li ><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <% end %>
  </ul>
</header>
<div class="first-content">
  <h1 class="comment">様々なシチュエーションのメッセージを</h1>
  <h2 class="comment">もっとシンプルに</h2>
  <h3 class="comment">もっと早く</h3>
</div>
<div class="second-content">
  <div class="groups-user-nickname">
    <% if user_signed_in? %>
      <%= link_to current_user.nickname, "#", class: "user-nickname" %>
      さんのグループ
    <% else %>
      <div class="app-title">MessageGroupAppへようこそ！！</div>
    <% end %>
  </div>
  <div class='group-list-area'>
    <% if user_signed_in? %>
      <div class="family-group">
        <div class='group-title'>家族</div>
          <% current_user.groups.each do |group|%>
            <% if group.category_id == 2 %>
              <div class='group-lists'>
                <%= link_to group_messages_path(group.id) do %>
                  <div class='group-name'>
                    <%= group.name %>
                  </div>
                  <div class='group-category'>
                    <%= group.category.name %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
      </div>
      <div class="job-group">
        <div class='group-title'>仕事</div>
          <% current_user.groups.each do |group|%>
            <% if group.category_id == 3 %>
              <div class='group-lists'>
                <%= link_to group_messages_path(group.id) do %>
                  <div class='group-name'>
                    <%= group.name %>
                  </div>
                  <div class='group-category'>
                    <%= group.category.name %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
      </div>
      <div class="friend-group">
        <div class='group-title'>友達</div>
          <% current_user.groups.each do |group|%>
            <% if group.category_id == 4 %>
              <div class='group-lists'>
                <%= link_to group_messages_path(group.id) do %>
                  <div class='group-name'>
                    <%= group.name %>
                  </div>
                  <div class='group-category'>
                    <%= group.category.name %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
      </div>
      <div class="group">
        <div class='group-title'>その他</div>
          <% current_user.groups.each do |group|%>
            <% if group.category_id == 5 %>
              <div class='group-lists'>
                <%= link_to group_messages_path(group.id) do %>
                  <div class='group-name'>
                    <%= group.name %>
                  </div>
                  <div class='group-category'>
                    <%= group.category.name %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
      </div>
    <% else %>
      <div>
        <div class='info'>
          <div class='info-text'>お仕事のメッセージに！！</div>
        </div>
        <div class='info'>
          <div class='info-text'>ご家族とのメッセージにも！！</div>
        </div>
      </div>
      <div>
        <div class='info'>
          <div class='info-text'>大切な友人とのメッセージに！！</div>
        </div>
        <div class='info'>
          <div class='info-text'>その他のメッセージにも！！</div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to new_group_path, class: 'purchase-btn' do %>
  <span class='purchase-btn-text'>グループ作成</span>
  <% end %>
</div>